html
	head
		title Exchange 2018: Ask the Experts
		link(rel='stylesheet', href='/assets/gmCSS1.css')
	body
		table( id="RequestTable" width="90%" border="0" cellspacing="0" cellpadding="0")
			h1 Welcome L+G Expert
			tbody
				tr
					th Category
					th Customer
					th Contact
					th Question
					th CRM
				each request in requests
					tr
						td 
							a(href = '/request?id='+request._id) #{request.category}
						td 
							a(href = '/request?id='+request._id) #{request.customer.name}	
						td 
							a(href = 'mailto:'+request.customer.email) #{request.customer.representative}
						td 
							a(href = '/request?id='+request._id) #{request.custom_question}
						td 
							a(href = '/request?id='+request._id) #{request.CRM}