html
	head
		title Case Information
		link(rel='stylesheet', href='/assets/gmCSS1.css')
		link(rel='stylesheet', href='/assets/gmCSS2_Form.css')
	body
		h1 Case Information
		#qesNotes
			table(id="customerInfo")
				tr
					td Customer Name: #{request.customer.name}
					td Customer Contact : #{request.customer.representative}
				tr 
					td Categoty : #{request.category}
					if request.CRM
					td CRM : #{request.CRM}
					br
				tr 
					td(colspan="2") Customer Question : #{request.custom_question}
				tr
					if request.notes
						td(colspan="2") Notes: 
							p
								each note in request.notes
									|#{note.addedBy} #{note.crm} 
									br 
									|#{note.text}
									br
		#studio
			form(id="contact" action="/updaterequest" method="post")
				h3 L+G Expert Section
				h4 Please capture your customer conversation
				input(type="hidden" name="request_id" value=request._id)
				br
				fieldset 
					input(type="text" name="record_expert_name" placeholder="L+G Expert Name")
					br
				fieldset
					textarea(name="record_notes" rows=6 cols=60 placeholder="Type your notes here...")
					br
				fieldset
					input(type="text" name="record_crm" value=request.CRM placeholder="Record CRM")
					br
				fieldset
					select(name="record_query_type" placeholder="Query Type")
						option(value="greetings") Greetings
						option(value="generic") Generic
						option(value="case") Case
					br 
				fieldset
					button(type="submit",id="contact_submit",name="contact_submit",data-submit="...Sending") Submit
					br
				fieldset
					button(type="reset",id="contact_reset",name="contact_reset",form="contact",value="Reset") Reset

